@model IEnumerable<Brand>
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer locolaizer;
@{
    ViewData["Title"] = @locolaizer["Brand List"];
}
@{

    var IsArabic = CultureInfo.CurrentCulture.Name.StartsWith("ar");

}


<div class="container p-1">
    <div class="row pt-1">
        <div class="col-6">
            <h2 class="text-primary">@locolaizer["Brand List"]</h2>
        </div>
        <div class="col-6 text-end">
           
              @if (IsArabic)
            {
                <a style="margin-right:350px" asp-controller="Brand" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> &nbsp; @locolaizer["Create Brand"]
                </a>
            }
            @if (!IsArabic)
            {
                <a asp-controller="Brand" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> &nbsp; @locolaizer["Create Brand"]
                </a>
            }
           
        </div>

        <table class="table table-bordered table-striped mt-1 w-100">
            <thead>
                <tr>
                    <th>
                        @locolaizer["Brand Name"]
                  
                    <th class="text-center">
                            @locolaizer["Created Date"]
                    </th>
                    <th class="text-center" width="20%">
                        @locolaizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ToList().Count != 0)
                {
                    @foreach (var brand in Model)
                    {

                       
                        <tr>
                            <td>
                                @locolaizer[brand.Name]
                            </td>

                            <td class="text-center">
                                @brand.CreatedDate
                            </td>
                            <td class="text-center" width="20%">
                                <div class="d-flex justify-content-between">

                                    <a class="btn btn-warning" asp-action="Update"
                                       asp-route-id="@brand.Id"><i class="bi bi-pencil-square"></i> &nbsp;  @locolaizer["Update"]</a>
                                    <a class="btn btn-danger " asp-action="Delete"
                                       asp-route-id="@brand.Id"><i class="bi bi-x-square"></i> &nbsp; @locolaizer["Delete"]</a>
                                </div>




                            </td>

                        </tr>
                    }
                }
                else
                {

                    <tr>
                        <td colspan="3" class="text-center">
                            @locolaizer["There Is No Data"]
                        </td>


                    </tr>
                }

                


                
                  
              
            </tbody>
        </table>
    </div>
</div>